# H2 Configuration
spring:
    h2.console:
        enabled: true
        path: /h2-console
        
    datasource:
        url: jdbc:h2:mem:testdb
        username: sa
        password:
        driver-class-name: org.h2.Driver
    
    jpa:
        properties:
            hibernate:
                format_sql: true
                event.merge.entity_copy_observer: allow
        show-sql: true